{% extends '::base.html.twig' %}

{% block body -%}
    <div class="contentTitle"><h1>Potwierdź zamówienie</h1></div>
<hr style="margin-left : 12px; margin-right:12px">
  <div class="contentText">
    {{ form(form) }}
</div>

{% endblock %}
